<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${thread} and ${threads.size()}">No Replies Yet</p>


<table th:if="${threads} and ${threads.size()}" class="table">

    <tr>
        <th>Body</th>
    </tr>

    <tr th:each="thread : ${threads}">
        <td th:text="${thread.body}"></td>
    </tr>

</table>

<a href="/reply/submit">Post</a>

</body>
</html>